.press-enquiry {
	text-align: center; 
	background-color: $medium-gray; 
	float: left;
    width: 100%;
	.columns {
		// padding: 15px 0; 
		// height: 83px; 

		// @include breakpoint(medium) {
			display: table; 
			height: 100px; 				
		// }
	}

	h3, 
	p {
		// display: block; 

		// @include breakpoint(medium) {
			display: table-cell; 
			vertical-align: middle; 
		// }
	}
	h3, 
	p, 
	p a {
		font-family: $font-family-semibold; 

		@include breakpoint(medium) {
			font-family: $font-family-bold; 
		}
	}

	h3 {
		padding: 0 30px; 
		font-size: 24px; 
		line-height: 27px; 

		@include breakpoint(medium) {
			padding: 0; 
			font-size: 22px; 
			line-height: initial; 
		}
	}

	p {
		// font-size: 15px; 
		// line-height: 18px; 


		@include breakpoint(medium) {
			font-size: 20px; 
			line-height: 30px; 
			letter-spacing: -0.03em; 
		}

	}

	.press-enquiry-title {
		position: relative; 
		// display: block; 
		// padding-top: 14px; 
		color: $secondary-color; 
		background-color: $brand-contrast; 

		@include breakpoint(medium) {
			display: table; 
			padding-top: 0; 
		}
	}
	// triangle pointing downwards
	// .triangle-down {
	// 	position: absolute; 
	// 	left: 0; 
	// 	bottom: -15px; 
	// 	width: 100%; 
	// 	height: 15px; 

	// 	svg {
	// 		width: 100%; 
	// 		height: auto; 
	// 	}
	// }
	// triangle pointing right
	.press-enquiry-title:after {
		display: none; 
		// content: ''; 
		// display: block; 
		// background: url('../svg/triangle-down.svg'); 
		// position: absolute; 
		// bottom: -15px; 
		// left: 0; 
		// width: 100%; 
		// height: 15px; 
		// outline: 1px solid red; 

		@include breakpoint(medium) {
			content: ''; 
			position: absolute; 
			right: -15px; 
			display: block; 
			width: 0; 
			height: 0; 
			border-style: solid; 
			border-width: 50px 0 50px 15px; 
			border-color: transparent transparent transparent $brand-contrast; 
		}
		// @include breakpoint(large) {
			// 	right: -26px; 
			// 	border-width: 75px 0 75px 26px; 
			// }
	}

	.press-enquiry-telephone, 
	.press-enquiry-email {
		color: $dark-gray; 

		p > span {
			display: block; 
			margin: 0 38px; 
			padding-bottom: 26px; 
			
			@include breakpoint(medium) {
				margin: 0; 
				padding: 7px 0; 
			}
		}
	}

	.press-enquiry-telephone {
		p > span {
			background: url('../img/dotted-h.png') bottom center repeat-x; 

			@include breakpoint(medium) {
				// background: none; 
				background: url('../img/dotted-v.png') right center repeat-y; 
			}
		}
	}

	.press-enquiry-email {
		p > span {

			@include breakpoint(medium) {
				// background: url('../img/dotted-v.png') left center repeat-y; 
			}
		}
	}
}