/* ==========================================================================
	Global styles
========================================================================== */


.row {
	// outline: 1px solid #f0f; 
}
.columns {
	// outline: 1px solid blue; 
}

section {
	// outline: 1px solid yellow; 

	@include breakpoint(medium) {
		// outline: 1px solid red; 
	}

	@include breakpoint(large) {
		// outline: 1px solid blue; 
	}
}

.medium-uncentered, 
.large-uncentered {
	clear: none; 
}
.medium-uncentered:last-child:not(:first-child) {
	float: left; 
	clear: none; 
}

// middle align
.valign-middle {
	width:100%;
    display: table;

    > .vmiddle {
        display: table-cell;
        vertical-align: middle;
    }

    > .vmiddle {
        float: none;
    }
}

/******************************
	Link Styles
******************************/
a, a:visited {

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : $primary-color;
	}
}

h1, h2, h3, h4, h5, h6 {
	// Removing text decoration from all headline links
	a {
		text-decoration: none;
		color:$secondary-color;
	}
}

p {
	color: $dark-gray; //grey 


	strong, 
	a {
		font-family: $font-family-semibold; 
	}
	a {
		color: $brand-highlight; 

		&:hover {
			color: darken($brand-highlight, 20%); 
		}
	}
}

/******************************
	Headings
******************************/
h1, h2, h3, h4, h5, h6 {
	color: $secondary-color; 
	font-family: $font-family-semibold; 
}

/******************************
	Call to Actions
******************************/
.centered-cta {
	text-align: center; 
	p {
		color: $brand-highlight; 
		// font-size: 12px; 
		@include breakpoint(medium) {
			// font-size: 24px; 
		}
	}
}

/******************************
	Buttons
******************************/
.button {
	display: inline-block; 
	margin-bottom: 13px; 
	padding: 13px 51px 15px; 
	font-size: 21px; 
	font-family: $font-family-semibold; 
	color: $white; 
	letter-spacing: -0.06em; 
	background-color: $brand-highlight; 
	border-radius: 45px; 
	border: none; 

	@include breakpoint(medium) {
		margin-bottom: 26px; 
		padding: 12px 42px 14px; 
		font-size: 24px; 
		letter-spacing: -0.07em; 
	}

	// Small only
	span {
		display: block; 
		font-size: 14px; 
	}
}

/******************************
	SVG
******************************/
svg {
	width: 100%; 
	height: auto; 
}


/* ==========================================================================
	Header
========================================================================== */
.header {
	padding: 15px 0 16px; 
	background-color: $secondary-color; 

	ul.off-canvas-list li {
		list-style: none;
	}
}

.logo {
	display: block; 
	margin: 18px 0 7px; 
	width: 111px; 

	@include breakpoint(medium) {
		// margin: 0; 
		
		width: 121px; 
	}
}
    
/* ==========================================================================
	Navigation
========================================================================== */

// Off-canvas
.off-canvas {
	padding: 20px; 

	.menu > li {
		padding: 10px 0; 

		> a {
			color: $white; 
		}
	}
}

// Everything else
.menu {

	> li {
		&.current_page_parent,&.current-menu-item {
			>a{color:white;}

			&.highlight > a{
				color: $brand-highlight;
			}
		}

		> a {
			color:#c7bad2;
			&:hover {
				color: $white; 
			}
		}
	}
	.highlight {
		> a {
			color: $brand-highlight; 

			&:hover
			{
				color: $brand-highlight;
			}
		}
	}
}

.primary-menu {
	float: right; 
	display: inline-block; 
	margin-left: 30px; 
	padding-top: 34px; 
	@include breakpoint(medium) {
		// margin-top: 19px; 
	}

	@media screen and (min-width: 1145px) {
		margin-top: 0; 
		margin-left: 0; 
		padding-top: 34px; 
	}

	.menu > li {
		> a {
			padding: 0 10px; 
			font-size:12px;
			@media screen and (min-width: 890px) {font-size: 14px;}
			font-family: $font-family-semibold; 
			text-transform: uppercase; 
			letter-spacing: -0.05em; 
		}
	}
}

// mobile burger icon
.menu-icon {
	display: inline-block; 
	margin-top: 24px; //4px; 
	margin-right: 20px; 
	margin-left: 30px; 
	width: 32px; //40px; 
	height: 29px; //40px; 

	@media screen and (min-width: 470px) {
		float: right; 
	}

	&:after {
		height: 6px; 
		box-shadow: 0 11px 0 #fff, 0 22px 0 #fff; //0 15px 0 #fff, 0 30px 0 #fff; 
		border-radius: 20px; 
	}
	&:hover {
		&:after {
		background: $primary-color;
		box-shadow: 0 11px 0 $primary-color, 0 22px 0 $primary-color;
		}
	}
}


// Phone and opening times
.top-contact {
	display: none; 
	margin-right: 20px; 
	margin-left: 30px; 
	text-align: right; 

	@media screen and (min-width: 496px) {
		float: right; 
		display: inline-block; 
		margin-right: .9375rem;
		max-width: 290px;
		margin-top: 0px; //11px

	}
	@media screen and (min-width: 1145px) {
		margin-right: 0; 
	}
}

.nav-phone {
	display: inline-block; 
	margin-top: 4px; 
	margin-bottom: 0; 
	// padding-left: 30px; 
	font-weight: 700; 

	line-height: 27px; 

	.numb
	{
		@include breakpoint(medium) {font-size: 27px; }
		@include breakpoint(small) {font-size: 20px;}
		letter-spacing: -1.4px;
	}
	@media screen and (min-width: 628px) {
		display: inline-block; 
	}
	
	a {
		font-family: $font-family-bold; 
		color: $tertiary-color; 
	}

	.call--free
	{
		margin-bottom:-6px;
		color: white;
	    @include breakpoint(small down) {font-size: 13px;}
	    // @include breakpoint(medium) {font-size: 16px;}
	    display: block;
	    letter-spacing: -0.05em;
	    text-align: left;
	}
}

.nav-opening {
	display: block;
	font-size: 11px; 
	line-height: 11px; 
	font-family: $font-family-semibold; 
	color: $white; 
	text-transform: uppercase; 
	letter-spacing: -0.06em; 

	@media screen and (min-width: 628px) {
		position: relative; 
		top: -3px; 
		padding-left: 17px; 
		display: inline-block; 
	}
}

/* ==========================================================================
	Footer
========================================================================== */
.footer {
	clear: both; 
    padding-top: 39px;
    padding-bottom: 50px;
	background-color: $medium-gray; 

	@include breakpoint(medium) {
		padding-top: 57px; 
		padding-bottom: 57px; 
	}
}

// "Want to pay less for your business energy?"
.footer-cta {
	
	@include breakpoint(medium) {
		padding-right: 0; 
		padding-left: 0; 
	}

	padding-bottom: 19px; 
	text-align: center; 

	// @include breakpoint(medium) {}

	h4 {
		margin-bottom: 11px; 
		// font-size: 23px; 
		// line-height: 29px; 
		letter-spacing: -0.02em; 

		@include breakpoint(medium) {
			margin-bottom: 35px; 
			font-size: 39px; 
			line-height: 40px; 
			letter-spacing: -0.05em; 
		}
	}
	.button {
		margin-bottom: 12px; 
		// padding-left: 95px; 
		// padding-right: 95px; 

		@include breakpoint(medium) {
			margin-bottom: 21px; 
			padding-left: 95px; 
			padding-right: 95px; 
		}
	}
	p {
		// font-size: 12px; 
		color: $brand-highlight; 

		@include breakpoint(medium) {
			font-size: 24px; 
		}
	}
}

// "Open 9am - 10pm Monday to Friday..."
.contact_foot-links {

	@include breakpoint(medium) {
		padding-top: 28px; 
		background: url('../img/dotted.gif') 0 4px repeat-x; 
	}

	p {
		margin-bottom: 18px; 
		padding: 0 28px; 
		color:$dark-gray; // grey

		line-height: 20px; 
		font-family: $font-family-semibold; 
		letter-spacing: -0.01em; 
		@include breakpoint(medium) {
			margin-bottom: 10px; 
			padding: 0 0 24px 0; 
		}

	}

	.footer-links {

		.current_page_parent a, .current-menu-item a
		{
			color:$dark-gray;
		}
		padding-top: 22px; 
		background: url('../img/dotted.gif') 0 0 repeat-x; 

		@include breakpoint(medium) {
			background: none; 
			/* everything supports except ie9 */
			// -webkit-column-count: 3; 
			//    -moz-column-count: 3; 
			//         column-count: 3; 
			// -webkit-column-gap: 100px; 
			//    -moz-column-gap: 100px; 
			//         column-gap: 100px; 
		}

		li {
			display: block; 
			float: left; 
			// width: 50%; 
			// padding-left: 21px; 
			 width: 33.3333333333%;

			@include breakpoint(medium) {
				// float: none; 
				// width: auto; 
				padding-left: 0; 
			}
		}
		a {
			padding-bottom: 8px; 
			font-size: 14px; 
			color:$dark-gray; // grey 
			&:hover {
				color:black;
			}
			@include breakpoint(medium) {
				padding-bottom: 12px; 
				font-size: 18px; 
			}
		}
	}
}

// Social Icons

.social-icon {
	width:30px;
	height:30px;
	text-indent:-9999px;
	display:inline-block;
	background-size: contain;
	background-color: $brand-social;
   

		&.facebook {
			// background-image:url("../svg/icon-fb.svg") no-repeat top left;
			 -webkit-mask:  url("../svg/icon-fb.svg") no-repeat 50% 50%;
			mask: url("../svg/icon-fb.svg") no-repeat 50% 50%;
			background-repeat:no-repeat;
			
		}
		&.twitter {
			// background-image:url("../svg/icon-twt.svg") no-repeat top left;
			 -webkit-mask:  url("../svg/icon-twt.svg") no-repeat 50% 50%;
   			mask: url("../svg/icon-twt.svg") no-repeat 50% 50%;
			background-repeat:no-repeat;
			
		}

}

.soc-icons {
	margin-top: 13px; 
	padding-top: 27px; 
	text-align: center; 
	background: url('../img/dotted.gif') 0 0 repeat-x; 

	@include breakpoint(medium) {
		margin-top: 0; 
		padding-top: 13px; 
		background-position: center 32px; 
	}
}

	.soc-icons-bg {
		@include breakpoint(medium) {
			display: inline-block; 
			padding: 0 30px; 
			text-align: center; 
			background-color: #d9d9d6; // light grey
		}

		a {
			width:50px;
			height:50px;
			@include breakpoint(medium) {
				width: 30px; 
				height: 30px; 
			}
			display: inline-block; 
			margin: 0 8px; 
			background-color: $brand-social; 
			vertical-align: middle; 

			@include breakpoint(medium) {
				margin: 0 4px; 
				width: 40px; 
				height: 40px; 
			}
		}
		svg {
			fill: #fff; 
		}
	}


/* ==========================================================================
	Global Content styles
========================================================================== */

.troo-icons {
	padding-top: 25px; 
	text-align: center; 

	@include breakpoint(medium) {
		padding-top: 57px; 
	}

	// "sign me up, help me save"
	.centered-cta {
		padding-top: 11px; 
		padding-bottom: 13px; 

		@include breakpoint(medium) {
			padding-top: 68px; 
			padding-bottom: 68px; 
		}

		p {
			color: $brand-highlight; 
			font-size: 12px; 
		}
	}
}

// "The fairest price for your utilities"
.title {
	margin-bottom: 15px; 
	padding: 0 56px; 

	@include breakpoint(medium) {
		margin-bottom: 44px; 
		letter-spacing: -0.036em; 
	}
}

.troo-icons-col {
	padding: 0 50px; 
	text-align: left; 

	@include breakpoint(small only) {
		margin-bottom:18px;
	}

	@include breakpoint(medium) {
		padding: 0 30px; 
		text-align: center; 
	}

	h3 {
		margin-top: 4px; 
		margin-bottom: 1px; 

		@include breakpoint(medium) {
			margin-top: 0; 
			margin-bottom: 9px; 
		}
	}

	p {
		color: $dark-gray; //grey 
		// font-size: 11px; 
		letter-spacing: 0.02em; 

		@include breakpoint(medium) {
			// font-size: 22px; 
			letter-spacing: 0.01em; 
			// line-height: 27px; 
		}
	}
}

.icon-svg {
	float: left; 
	margin-right: 10px; 
	margin-bottom: 28px; 
	display: inline-block; 
	width: 50px; 

	@include breakpoint(medium) {
		float: none; 
		margin-right: 0; 
		margin-bottom: 13px; 
		width: 100px; 
	}
}

/* ========================================================================== */

.feat-img, 
.article-feat-img {
	display: block; 
	background-color: $primary-color; 
	background-position: center center; 
	@include breakpoint(medium) {background-position: top center; }
	background-repeat: no-repeat; 
	background-size: cover; 
}
.feat-img {
	width: 100%; 
}

// breadcrumbs
.breadcrumb-cont {
	padding-top:25px;
	padding-bottom:25px;
	@include breakpoint(medium) {
		padding-top: 10px; 
		padding-bottom: 10px; 
	}
}
.breadcrumbs {
	margin-bottom: 0; 
	text-align:center;
	@include breakpoint(medium) {
		display: block; 
		text-align:left;
	}

	a, 
	span {
		font-size: 12px; 
		cursor: default; 
		text-transform: uppercase; 

		&:hover {
			text-decoration: none;
		}
	}
	.breadcrumb_last {
		cursor: not-allowed;
	}
	// the divider ( > )
	a:not(:last-child)::after { 
		position: relative; 
		top: 0; 
		margin: 0 3px; 
		opacity: 1; 
		content: ">"; 
		color: $black;
	}
}

.page-template-iframe,
.go-back
{
	background-color:$secondary-color;
}
.go-back
{
    padding-bottom: 30px;
}


// table
table td, table tr 
{
	border: 1px solid $light-gray;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}
