/*** Variables ***/

// Brand Colours

//primary-color is the lilac - see settings.scss
// secondary-color: #2e1a47; dark purple
$tertiary-color: #7474c1; // light purple
$brand-highlight: #6bbbae; // pastel green
$brand-contrast: #eda841; //mustard yellow
$brand-social: #eca841; // orange